<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sketch App</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <canvas></canvas>
    <main>
      <section id="picker" class="colors"></section>
      <section class="thickness">
        <div class="thickness-click"></div>
        <input type="number" class="stroke-weight" value="3" />
      </section>
      <button class="clear">X</button>
    </main>
    <script src="https://unpkg.com/vanilla-picker@2"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
