body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #f3f3f3;
  font-family: "Roboto", "Helvetica", sans-serif;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background: #171717;
}

section {
  display: block;
  margin: 15px auto;
  width: 30px;
  height: 30px;
}

.colors {
  background: #171717;
  border: 1px solid #f3f3f3;
  position: relative;
  cursor: pointer;
}

.color-picker {
  display: none;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.color-picker:hover {
  display: block;
  color: yellow;
}

.color-picker:focus {
  display: block;
}

.thickness {
  position: relative;
  background-color: #f3f3f3;
  cursor: pointer;
}

.thickness-click {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stroke-weight {
  display: none;
  position: absolute;
  width: 45px;
  height: 25px;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}

.stroke-weight:focus {
  display: block;
}

.eraser {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  color: #171717;
  font-size: 20px;
  font-weight: 900;
  background-color: pink;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.clear {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  color: #171717;
  font-size: 20px;
  font-weight: 900;
  background-color: #ffce00;
  border: none;
  outline: none;
  cursor: pointer;
}

.download {
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px auto;
  color: #171717;
  font-size: 20px;
  font-weight: 900;
  background-color: DodgerBlue;
  border: none;
  outline: none;
  cursor: pointer;
}
